<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_python/blob/main/day_03/02_airbnb_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# anchorage_entire_homes_2021-01-04.csv
df = pd.read_csv('https://github.com/gumdropsteve/intro_to_python/raw/main/day_03/anchorage_entire_homes_2021-01-04.csv')

# give me a link
df['a'][0]

'https://airbnb.com/rooms/17048600'

In [ ]:
# look for similar columns (we want to extract data)
df.head()

,a,b,c,d,e,f,g,h
0,https://airbnb.com/rooms/17048600,Snow City Hideaway // DOWNTOWN with Ocean View...,Entire apartment in Anchorage,4 guests · 1 bedroom · 2 beds · 1 bath,$60 / night,Wifi·Waterfront·Selfcheck-in·Petsallowed,Rating 4.67 out of 5;4.67333 reviews (333),333 reviews
1,https://airbnb.com/rooms/33995587,Umed room 4 - null - Anchorage,Private room in Anchorage,2 guests · 1 bedroom · 1 bed · 1 shared bath,$20 / night,Wifi·Selfcheck-in·Kitchen·Indoorfireplace,Rating 5.0 out of 5;5.09 reviews (9),9 reviews
2,https://airbnb.com/rooms/47354632,South Anchorage Studio Suite- Fox Den - null -...,Entire apartment in Anchorage,2 guests · Studio · 1 bed · 1 bath,$76 / night,Wifi·Kitchen·Dryer·Washer,NaN,NaN
3,https://airbnb.com/rooms/33072454,> UPSCALE Cottage / Central to DOWNTOWN & Trai...,Entire house in Anchorage,4 guests · 1 bedroom · 2 beds · 1 bath,$65 / night,Wifi·Selfcheck-in·Kitchen·Dryer,Rating 4.90 out of 5;4.90150 reviews (150),150 reviews
4,https://airbnb.com/rooms/36774364,Midtown - Cozy Studio! Travel Nurse Housing! ...,Entire guest suite in Anchorage,2 guests · Studio · 1 bed · 1 bath,$55 / night,Wifi·Breakfast·Ski-in/Ski-out·Selfcheck-in,Rating 5.0 out of 5;5.025 reviews (25),25 reviews

In [ ]:
# the price column looks like it follows a similar format 
df['e'].head()

0    $60 / night
1    $20 / night
2    $76 / night
3    $65 / night
4    $55 / night
Name: e, dtype: object

In [ ]:
# ${what we want} / night
type(df['e'][0])

str

In [ ]:
df['e'][0]

'$60 / night'

In [ ]:
first_value = df['e'][0]

# first_value.split(" ")[0]

float(first_value.split(" ")[0][1:])  # took this and added it to base code

60.0

In [ ]:
# old
def get_room_price(listing):
    """
    returns the nightly rate (price) of given listing
    """
    price_text = listing.find('div', {'class':'_ls0e43'}).text
    price = price_text.split('Price:')
    return price[1]

In [ ]:
# new (now returns float value of price per night)
def get_room_price(listing):
    """
    returns the nightly rate (price) of given listing
    """
    price_text = listing.find('div', {'class':'_ls0e43'}).text
    price = price_text.split('Price:')
    price = price[1]
    price = price.split(" ")[0][1:]  # skip the $
    return price

'$60 / night'

## Extracting Reviews
```
Rating 4.67 out of 5;4.67333 reviews (333)
```

In [ ]:
df['g'][0]

'Rating 4.67 out of 5;4.67333 reviews\xa0(333)'

In [ ]:
type(df['g'][0])

str

In [ ]:
df['g'].head()

0    Rating 4.67 out of 5;4.67333 reviews (333)
1          Rating 5.0 out of 5;5.09 reviews (9)
2                                           NaN
3    Rating 4.90 out of 5;4.90150 reviews (150)
4        Rating 5.0 out of 5;5.025 reviews (25)
Name: g, dtype: object

In [ ]:
df['g'].tail()

295    Rating 4.94 out of 5;4.9435 reviews (35)
296    Rating 4.76 out of 5;4.7634 reviews (34)
297    Rating 4.96 out of 5;4.9624 reviews (24)
298      Rating 5.0 out of 5;5.020 reviews (20)
299        Rating 5.0 out of 5;5.04 reviews (4)
Name: g, dtype: object

In [ ]:
df['g'][0].split(';')

['Rating 4.67 out of 5', '4.67333 reviews\xa0(333)']

In [ ]:
# check string logic (to make sure it looks how you wanted)
'out of 5' in df['g'][0].split(';')[0]  # not going to do this now, just something to think about

True

In [ ]:
df['g'][0].split(';')[1]

'4.67333 reviews\xa0(333)'

In [ ]:
right_side = df['g'][0].split(';')[1]

right_split = right_side.split(' ')

right_split

['4.67333', 'reviews\xa0(333)']

In [ ]:
detailed_score = right_split[0]

detailed_score = float(detailed_score)

detailed_score

4.67333

In [ ]:
number_of_reviews = right_split[1]

# just a precaution
number_of_reviews = number_of_reviews.strip()

number_of_reviews = number_of_reviews[:-1]

number_of_reviews = number_of_reviews.split('(')

number_of_reviews

['reviews\xa0', '333']

In [ ]:
number_of_reviews = number_of_reviews[1]

number_of_reviews = int(number_of_reviews)

number_of_reviews

333

All together

In [ ]:
df['g'][0]

'Rating 4.67 out of 5;4.67333 reviews\xa0(333)'

In [ ]:
data = df['g'][0]

right_side = data.split(';')[1]

right_split = right_side.split(' ')

# find the detailed average review score (x.xxxxx)
detailed_score = right_split[0]
detailed_score = float(detailed_score)

# find the number of reviews
number_of_reviews = right_split[1]
number_of_reviews = number_of_reviews.strip()  # just a precaution
number_of_reviews = number_of_reviews[:-1]
number_of_reviews = number_of_reviews.split('(')
number_of_reviews = number_of_reviews[1]
number_of_reviews = int(number_of_reviews)


# did it work?
detailed_score, number_of_reviews

(4.67333, 333)

In [ ]:
# before
def get_n_reviews(listing):
    '''
    Returns the number of reviews
    '''
    try:  # Not all listings have reviews // extraction failed
        output = listing.findAll("span", {"class":"_krjbj"})[1].text
    except:
        output = None   # Indicate that the extraction failed -> can indicate no reviews or a mistake in scraping
    return output

In [ ]:
# after
def get_n_reviews(listing):
    '''
    Returns the number of reviews
    '''
    try:
        output = listing.findAll("span", {"class":"_krjbj"})[1].text
        
        # focus the right side of the data
        right_side = output.split(';')[1]
        right_split = right_side.split(' ')

        # find the detailed average review score (x.xxxxx)
        detailed_score = right_split[0]
        detailed_score = float(detailed_score)

        # find the number of reviews
        number_of_reviews = right_split[1]
        number_of_reviews = number_of_reviews.strip()  # just a precaution
        number_of_reviews = number_of_reviews[:-1]
        number_of_reviews = number_of_reviews.split('(')
        number_of_reviews = number_of_reviews[1]
        number_of_reviews = int(number_of_reviews)
        
        output = (detailed_score, number_of_reviews)
        
    # Not all listings have reviews // extraction failed
    except:
        output = None   # Indicate that the extraction failed -> can indicate no reviews or a mistake in scraping
    return output