<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_machine_learning/blob/main/day_01/03_seattle_rain_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Rain in Seattle
Seattle is one of the rainiest places in the world. Even so, it is worth asking the question 'will it rain tomorrow.' Imagine you are headed to sleep at a hotel in downtown Seattle. 

The next days activities are supposed to include walking around outside most of the day. You want to know if it will rain or not (you don't really care how much rain just a simple yes or no will do), which will greatly impact what you choose to wear and carry around (like an umbrella). 


Build a heuristic model to predict if it will rain tomorrow.

## Our Data

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/gumdropsteve/datasets/master/seattle_weather_1948-2017.csv')

df

               ds  prcp  tmax  tmin   rain
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

In [14]:
import numpy as np

# what % of days did it rain?

In [1]:
# what values are seen in the prcp column

In [2]:
# show me a histogram of prcp < 2

#### Check for Missing Values and Outliers

In [3]:
# how many null values does each column have?

In [5]:
# show me the null rows

In [4]:
# drop the null rows and update the dataframe

In [13]:
import seaborn as sns

# make a box plot

In [6]:
# show me some outler values from tmax or tmin

In [ ]:
# make an sns pairplot with hue='rain'

In [ ]:
# bonus challenge
# plot prcp by day (ds on x axis)

## Set up a basic model to make predicitons

First, split the data...

In [12]:
from sklearn.model_selection import train_test_split

X = df[['prcp', 'tmax', 'tmin']]  # all the values you want to help predict the target value
y = df.rain.astype(np.int32)  # the target value

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

Bring in a model now...

In [11]:
from sklearn.linear_model import LogisticRegression

# logistic regression is a classifier, for our case, True (1) or False (0)
lr = LogisticRegression()

lr

In [10]:
lr.fit(X=X_train, y=y_train)

In [9]:
# predict the y values from X test data
lr.predict(X_test)

In [8]:
preds = lr.predict(X_test)

In [ ]:
# how'd your model score?